

<nav class="navbar navbar-expand-lg navbar-light bg-success mb-4"> 
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home-page' %}">ASK</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home-page' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'medicaments' %}">Medicaments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'caise' %}">Caisse</a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link " href="{% url 'index-approvision' %}" tabindex="-1" aria-disabled="false">Approvisionnement</a>
          </li>
        </ul>
        
        
      </div>
    </div>
  </nav>